<h1>Sign Up</h1>

<div id="navbar">
<ul>
  <li><a href="/">Home</a></li>
  <!-- <li><a href="#">Characters</a></li> -->
  <% if (!currentUser) {%>
    <li><a href="/auth/signup">Signup</a></li>
    <li><a href="/auth/login">Login</a></li>
<% } else { %>
  <li><a href="/profile">Profile</a></li>
  <li><a href="/auth/logout">Logout</a></li>
<% } %>
</ul>
</div>

<form action="/auth/signup" method="POST" id="signUpForm">
  <div>
    <label for="new-email">Email</label>
    <input id="new-email" type="email" name="email" required>
  </div>
  <div>
    <label for="new-name">Name</label>
    <input id="new-name" type="text" name="name" required>
  </div>
  <div>
    <label for="new-password">Password</label>
    <input id="new-password" type="password" name="password" required>
  <div>
    <input type="submit" value="Sign up">
</form>
  