<div class="profile-container">
  <h1 class="title"><%= currentUser.name %>'s </h1>

  <div id="navbar"></div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="#">Characters</a></li>
      <% if (!currentUser) {%>
        <li><a href="/auth/signup">Signup</a></li>
        <li><a href="/auth/login">Login</a></li>
    <% } else { %>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/auth/logout">Logout</a></li>
    <% } %>
    </ul>
  </div>

  <div class="list-container">
    <h2>Watchlist</h2>
    <% animes.forEach(a => { %>
      <img src=<%= a.image_url %> alt="Anime Image" style="max-width: 300px;">
      <h5><%= a.title %> </h5>
      <p>Total Episodes: <%= a.episodes %> </p>
      <br>
    <% }) %>  
  </div>
</div>