<h2>aniTracker</h2>
<ul>
  <li><a href="#">Home</a></li>
  <li><a href="/profile">Profile</a></li>
  <li><a href="#">Characters</a></li>
  <li><a href="#">Sign Out</a></li>
</ul>
<form action="/results" method="GET">
  <input 
    type="search"
    id="search" 
    name="search" 
    class="searchBar" 
    style="width: 300px" 
    placeholder="Search for an anime here..."
    required 
  />
  <button type="submit">Submit</button>
</form>