<h2>aniTracker</h2>
<form action="/results" method="GET">
  <input 
    type="search"
    id="search" 
    name="search" 
    class="searchBar" 
    style="width: 300px" 
    placeholder="Search for an anime here..."
    required 
  />
  <button type="submit">Submit</button>
</form>