<h2 class="title">aniTrack</h2>
<h2 class="title-shadow">aniTrack</h2>

<div id="navbar"></div>
  <ul>
    <li><a href="/">Home</a></li>
    <!-- <li><a href="#">Characters</a></li> -->
    <% if (!currentUser) {%>
      <li><a href="/auth/signup">Signup</a></li>
      <li><a href="/auth/login">Login</a></li>
  <% } else { %>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/auth/logout">Logout</a></li>
  <% } %>
  </ul>
</div>

<form id="search-container" action="/results" method="GET">
  <input 
    type="search"
    id="search" 
    name="search" 
    class="searchBar" 
    style="width: 300px" 
    placeholder="Search for an anime here..."
    required 
  />
  <button class="submit" type="submit">Submit</button>

</form>