<div class="container">
  <h1 class="title">User Profile</h1>

  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/profile">Profile</a></li>
    <li><a href="#">Characters</a></li>
    <li><a href="#">Sign Out</a></li>
  </ul>

  <div class="list-container">
  <h2>Watchlist</h2>
  </div>
</div>