<div class="container">
  <h1 class="title">User Profile</h1>

  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="#">Characters</a></li>
    <% if (!currentUser) {%>
      <li><a href="/auth/signup">Signup</a></li>
      <li><a href="/auth/login">Login</a></li>
  <% } else { %>
      <li><a href="/auth/logout">Logout</a></li>
      <li><a href="/profile">Profile</a></li>
  <% } %>
  </ul>

  <div class="list-container">
  <h2>Watchlist</h2>
  </div>
</div>