nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
}

.card-container {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

h1 {
  color: chartreuse;
}