body {
  background: rgb(239,255,0);
  background: linear-gradient(90deg, rgba(239,255,0,1) 35%, rgba(0,212,255,1) 100%);
}

#navbar {
  background-color: #232526;
  background: white;
}

a, li {
  font-size: 18px;
  list-style: none;
  text-decoration: none;
  display: inline-flex;
  color: black;
  padding: 0 10px 0 10px;
  float: right;
}

a {
  border: 2px solid black;
  border-radius: 3px;
}

a:hover, li:hover {
  color: white;
}

#searchbar {
  text-align: center;
  margin: 15px;
}

.card-container {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  margin: 10px 0;
}

.card {
  color: white;
  background-color: black;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 75px;
  text-align: center;
}


